/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Global card title spacing */
.mat-mdc-card .mat-mdc-card-title {
  margin: 4px 0 12px 8px;
}
